button {
    background: #28FF28;
    color: black;
    border-radius: 0px;
}

button.flagged {
    background: #FFFF88;
    color: black;
}

button.uncovered {
    background: #EEEEEE;
    color: black;
}

.game-over button {
    background: #AAAAAA;
    color:black;
}

.game-over button.uncovered {
    background: #EEEEEE;
    color:black;
}

.game-over button.mine {
    background: #FF4444;
    color:black;
}